img.center_pictures {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 5px solid #000000;
}
body {
    background-color: blanchedalmond;
}
table.table {
    border: 3px solid #000000;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 400 px;
    font-size: 0.9em;
    margin: 25px 0;
}
table.table thead tr {
    background-color: #6459ed;
    color: #000000;
    text-align: left;
    font-weight: bold;
}
table.table tbody tr {
    border-bottom: 1px solid #000000;
}   
table.table th, table.table td {
    padding: 12px 15px;
}