img.center_pictures {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 5px solid #000000;
}
img#splash_bros {
    width: 30%;
}
ul {
    text-align: center;
}
body {
    background-color: blanchedalmond;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
p.bottom_border {
    background-color: #6459ed;
    padding: 10px;
    min-height: 30px;
}
a.links {
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
a#right, a#right_1, a#right_2 {
    text-align: right;
    float: right;
}
p.title {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    border: 3px solid #000000;
    background-color: burlywood;
}
table.table {
    border: 3px solid #000000;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 400px;
    font-size: 0.9em;
    margin: 0 auto;
    align-self: center;
}
table.table thead tr {
    background-color: #6459ed;
    color: #000000;
    text-align: left;
    font-weight: bold;
}
table.table tbody tr {
    border-bottom: 1px solid #000000;
}   
table.table th, table.table td {
    padding: 12px 15px;
}
table.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}